.contact_button{
    background-color: rgb(40,86,213);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em .6em;
    cursor: pointer;
}

.contact_button:hover{
transform: scale(1.1);
}